<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<title>LightTask</title>
  <link data-require="bootstrap-css@3.*" data-semver="3.3.7" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css" />
  <script data-require="angularjs@1.6.*" data-semver="1.6.4" src="https://code.angularjs.org/1.6.4/angular.min.js"></script>
  <script data-require="angular-animate@1.6.*" data-semver="1.6.4" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.4/angular-animate.min.js"></script>
  <script data-require="angular-touch@1.6.*" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-touch.js"></script>
  <script data-require="angular-route@1.6.*" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-route.js"></script>
  <script data-require="angular-cookies@1.6.*" data-semver="1.6.2" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular-cookies.js"></script>

  <script data-require="ui-bootstrap@*" data-semver="2.5.0" src="https://cdn.rawgit.com/angular-ui/bootstrap/gh-pages/ui-bootstrap-tpls-2.5.0.js"></script>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.css"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="scripts/app.js"></script>
  <script src="scripts/services.js"></script>
  <script src="scripts/controllers/FormController.js"></script>
  <script src="scripts/controllers/LookupController.js"></script>
  <script src="scripts/controllers/EntryController.js"></script>
	<script src="scripts/controllers/LoginController.js"></script>
	<script src="scripts/controllers/GitCommentController.js"></script>
	<script src="scripts/controllers/SchemaController.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-grid/4.0.2/ui-grid.js"></script>
</head>
<body ng-app="app">
  <div class="container-fluid">
    <div class="row" ng-controller="BaseController" ng-init="loadUIs()">
		<!-- NAVBAR -->
		<nav class="navbar navbar-inverse">
			<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a href="#/home"><img class="navbar-brand" src="assets/lt.png" alt="LightTask"></a>
			</div>
			<div class="container-fluid">
				<ul class="nav navbar-nav navbar-right navbar-brand">
					<li ng-if="user" ng-click="openForm('login')">{{user}}</a></li>
					<li ng-if="!user" ng-click="openForm('login')">Login</a></li>
				</ul>
			</div>
		</nav>
		<!-- ALERTS -->
		<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)" dismiss-on-timeout="4000">{{alert.msg}}</div>
		<!-- MENU -->
		<div ng-repeat="ui in uis | orderBy:'Seq'">
			<button class="btn btn-block btn-success lt-btn-primary" type="submit" ng-click="openForm(ui.ID)" ng-disabled="false">{{ui.Name}}</button>
		</div>
		<!-- 
		<button id="btnAgents" class="btn btn-block btn-success lt-btn-primary" type="submit" ng-click="openForm('agent')" ng-disabled="false">AGENTS</button>
		<button id="btnClients" class="btn btn-block btn-success lt-btn-primary" type="submit" ng-click="openForm('client')" ng-disabled="false">CLIENTS</button>
		<button id="btnProjects" class="btn btn-block btn-success lt-btn-primary" type="submit" ng-click="openForm('project')" ng-disabled="false">PROJECTS</button>
		<button id="btnTasks" class="btn btn-block btn-success lt-btn-primary" type="submit" ng-click="openForm('task')" ng-disabled="false">TASKS</button>
		<button id="btnEntry" class="btn btn-block btn-success lt-btn-primary" type="submit" ng-click="openForm('entry')" ng-disabled="false">ENTRIES</button>
		<button id="btnPeriod" class="btn btn-block btn-success lt-btn-primary" type="submit" ng-click="openForm('period')" ng-disabled="false">PERIODS</button>
		<button id="btnProduct" class="btn btn-block btn-success lt-btn-primary" type="submit" ng-click="openForm('product')" ng-disabled="false">PRODUCTS</button>
		<button id="btnStatus" class="btn btn-block btn-success lt-btn-primary" type="submit" ng-click="openForm('status')" ng-disabled="false">STATUSES</button>
		<button id="btnGitComments" class="btn btn-block btn-success lt-btn-primary" type="submit" ng-click="openForm('gitcomments')" ng-disabled="false">GIT COMMITS</button> -->
	</div>
  </div>
</body>

</html>